<!doctype html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="css/style.min.css">

	<title>Gerador de assinatura</title>
</head>

<body>
	<div class="container">
		<div class="jumbotron jumbotron-fluid bg-info text-white">
			<div class="container">
				<h1 class="display-4">Gerador de assinaturas</h1>
				<p class="lead">Gere sua assinatura preenchendo o formulário e clicando no botão</p>
			</div>
		</div>

		<div class="row">
		<form class="col-md-6">
			<div class="form-group">
				<div name="name">
					<input name="name" type="text" class="form-control" id="nome" placeholder="Nome" value="" autocomplete maxlength="50">
				</div>
			</div>

			<div class="form-group">
				<div>
					<input name="cargo" type="text" class="form-control" id="cargo" placeholder="Setor" value="" autocomplete maxlength="50">
				</div>
			</div>

			<div class="form-group">
				<div>
					<input name="tel" type="text" class="form-control" id="tel" placeholder="Telefone" value="" autocomplete maxlength="50">
				</div>
			</div>

			<div class="form-group">
				<div>
					<div class="input-group">
						<input name="username" type="text" class="form-control" id="email" placeholder="E-mail" value="" autocomplete maxlength="50">
						<div class="input-group-addon email">
							<span class="ml-1">@dimen.com.br</span>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="">
					<button type="button" class="btn btn-info mt-3" onclick="gerar()"> Gerar Assinatura </button>
				</div>
			</div>
		</form>
	
		<div class="col-md-6">
				<img src="https://res.cloudinary.com/franchin/image/upload/v1519961682/dimen_fnqamv.png" alt="Dimen" class="img-fluid logo" />
		</div>

	</div>

		<div class="col-12">
			<div id="alertdiv" class="alert alert-dismissible hidden" role="alert">
				<span id="alerttext"></span>
			</div>
		</div>

		<hr>

		<div id="assinatura" class="well">
			<div class="text-muted text-center small">
				Clique no botão Gerar para criar uma assinatura
			</div>
<script type="template/html" id="t2">
<footer>
	<table style="width:700px; height:110px; padding: 10px 0px; font-family: Helvetica, Arial;"  border="0">
		<tr>
			<td style="padding-left: 20px; width:210px;">
				<img src="img/dimen.png" alt="Dimen" />
			</td>
			<td style="line-height: 15px; font-size: 13px; border-left: 2px solid #ccc;	padding: 15px;">				
				<strong>{{this.nome}}</strong><br>				
				<strong>{{this.cargo}}</strong><br>
				{{this.tel}}<br>
				{{this.email}}@dimen.com.br<br>
				www.desafio.com.br<br>
			</td>
			<td>
				<img src="img/qmentum-iqg.png" alt="Qmentum Iqg" />					
			</td>
			<td>					
				<img src="img/bueral-veritas.png" alt="Bueral Veritas" />
			</td>
		</tr>
	</table>
</footer>

</script>
		</div>
	</div>

	<footer>
		<div class="footer text-center text-muted small mt-5">Criado por
			<a href="http://www.desafio.com.br" target="_blank">Desafio</a> &copy; 2018</div>
	</footer>

	<script src="node_modules/jquery/dist/jquery.min.js"></script>
	<script src="node_modules/popper.js/dist/umd/popper.js"></script>
	<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
	<script src="js/app.js"></script>
</body>

</html>