@import '../../node_modules/bootstrap/scss/bootstrap';

.form-control {
    color: #0083a9;
    border: 1px solid transparent;
    border-bottom: 1px solid #0083a9;
    border-radius: 0;
    transition: all 0.3s;
    &:focus {
        border-color: transparent;
        box-shadow: -14px 1px 0px -11px #0083a9;
        // font-size: 1.1rem;
    }
}
@include media-breakpoint-up(md) { 
    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    } 
}
@include media-breakpoint-down(sm) { 
    .logo {
        padding: 0px 0px 20px 0px;
        margin-top: -70px; 
        float: right;
    }
}

// CSS do arquivo modelo-assinatura.html
.assoutput {
    width: 700px;
    height: 110px;
    border: 1px solid #ccc;
    padding: 0px 10px; 
    img {        
        &:nth-child(1){
            float: left;
            padding: 20px 15px 0px 10px;            
        }
        &:nth-child(3){
            padding: 4px 0px 0px 0px;  
        }
        &:nth-child(4){
            padding: 12px 0px 0px 0px;                
        }
    }
    .info {
        width: 240px;
        float: left;
        font-size: 13px;
        line-height: 15px;
        margin-top: 15px;
        padding: 0 15px;
        border-left: 2px solid #ccc;
    }
}